.App {
  text-align: center;
}
body {
  background-color:#14171A;
  color: white;
}
.username {
  display: flex;
  align-items: center;
  justify-content: center;
margin-right: 25px;
}
.profile-pic {
  width: 50px; /* Adjust the size of the profile photo as needed */
  height: 50px;
  border-radius: 50%; /* To create a circular profile photo */
  margin-right: 10px;
  margin-top: 16px;
}
.verified-pic {
  width: 25px; /* Adjust the size of the profile photo as needed */
  height: 25px;
  margin-left: 7px;
  margin-top: 10px;
}
.home-image {
  position: relative;
  height: 300px;
  width: 100%;
  overflow: hidden;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 10px solid #1DA1F2;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

}

.home-image:hover img {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}


/* Nav */
.nav {
  background-color: black;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999; /* Add a higher z-index value */
}

.nav-brand {
  display: flex;
  align-items: center;
}

.nav-brand h3 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

.nav-brand a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}

.nav-brand a:hover {
  background-color: #555;
  border-radius: 5px;
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

.nav-list li {
  margin-right: 10px;
}

.nav-list li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}

.nav-list li a:hover {
  background-color: #555;
  border-radius: 5px;
}
/* Home */
.home-container {
  background-color: #14171A;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  margin: 80px auto 0; /* Add a top margin of 80px to push the content below the navigation bar */
  max-width: 600px;
  padding: 20px;
}


.featured-image {
  background-size: cover;
  background-position: center;
  height: 800px;
  width: 90%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 0 auto; /* Add this line to center the image */
}


.about-section,
.services-section {
  margin: 40px 0;
}

.service-boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  width: 100%;
  padding-left: 0;
  margin-left: auto;
  margin-right: auto;
}

.service-box {
  background-color: #1DA1F2 ;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.3s ease;
  max-width: 500px;
  position: relative;
}

.service-box:hover {
  transform: translateY(-5px);
}

.service-label {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  text-align: left;
  color: #fff;
  background-color: rgba(42, 140, 213, 0.8);
  border-radius: 4px;
  padding: 5px 10px;
}

.service-image {
  background-color: #2a8cd5;
  max-height: 800px;
  max-width: 100%;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-description {
  font-size: 0.9rem;
  text-align: left;
  height: 20%;
  padding: 5px;
  margin: 10px 0px 0px -4px;
  color: #D9D9D9;
  border-radius: 5px; /* Add border-radius to round off the corners */
}

.service-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}


.blue-box {
  background-color: #2a8cd5;
  height: 100vw;
  max-height: 300px;
  border-radius: 8px;
}

.service-details {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  max-width: 500px;
  max-height: 90%;
  overflow-y: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.service-details h2 {
  margin-bottom: 10px;
}

.service-details p {
  margin-bottom: 20px;
}

/*  */


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.header-title {
  margin: 0;
  font-size: 36px;
}

.featured-image {
  background-image: grey;
  background-size: cover;
  background-position: center;
  height: 400px;
}
/*  */
.about-section {
  padding: 20px;
  text-align: center;
  background-color: #14171A; /* Dark background color */
  color: #D9D9D9; /* Light text color */
  border-radius: 5px; /* Add rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Add a subtle shadow */
}

.about-section h1 {
  font-size: 1.5rem;
  color: #FFFFFF; /* White text color for headings */
  margin-bottom: 10px;
}

.about-section h2 {
  font-size: 1.2rem;
  color: #657786; /* Dark grey color for subheadings */
  margin-bottom: 10px;
}

.about-section h3 {
  font-size: 1rem;
  color: #657786; /* Dark grey color for subheadings */
  margin-bottom: 10px;
}

.about-section p {
  font-size: 0.9rem;
  line-height: 1.5;
}
/*  */
.about-description {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.services-section {
  padding: 20px;
  text-align: center;
}

.services-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.services-list li {
  font-size: 18px;
  margin: 10px;
  padding: 10px 20px;
  border: 1px solid #333;
  border-radius: 5px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
